# Add files that need to get deleted

## Moved files

scripts/set_audio_device.sh
scripts/executable_connect_headphones.sh
scripts/execurable_tmux-cssh
scripts/dot_claude/settings.local.json
.config/dotfiles/brew.lst
