{{- $device_type_choices := list "personal" "work" -}}
{{- $device_type := promptChoice "What type of device?" $device_type_choices -}}

{{ $email := promptString "email" -}}

[git]
    autoCommit = false
    commitMessageTemplate = "{{ "{{" }} promptString \"Commit message\" {{ "}}" }}"
    autoPush = false

[data]
    device_type = {{ $device_type | quote }}
    email = {{ $email | quote }}
