{{- $device_type_choices := list "personal" "work" -}}
{{- $device_type := promptChoice "What type of device?" $device_type_choices -}}
{{- $git_user_name := promptStringOnce . "git_user_name" "Full name for git (user.name)" -}}
{{- $email := promptStringOnce . "email" "Email for git" -}}

[git]
    autoCommit = false
    commitMessageTemplate = "{{ "{{" }} promptString \"Commit message\" {{ "}}" }}"
    autoPush = false

[data]
    device_type = {{ $device_type | quote }}
    git_user_name = {{ $git_user_name | quote }}
    email = {{ $email | quote }}
