#!/bin/zsh -l

# dot_zshrc.zim hash: {{ include "dot_zshrc.zim" | sha256sum }}
# dot_zimrc.d contents hash: {{ range (glob "dot_zimrc.d/*") }}{{ . | include | sha256sum }}{{ end }}
# private_dot_zimrc hash: {{ include "private_dot_zimrc" | sha256sum }}

source ~/.zshrc
zimfw update && zimfw install && zimfw uninstall
